* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #f0fff0;
  color: #333;
  font-family: "Courier";
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1 {
  font-size: 30px;
}

div {
  width: 300px;
  border: 5px solid gray;
  padding: 20px;
  margin: auto;
  font-family: Courier;
  text-align: center;
}
